.calculatorTab body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* style của máy tính */
.calculatorTab #calculator {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

/* style hiển thị các phép tính */
.calculatorTab #display {
    font-size: 2em;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.calculatorTab #buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculatorTab button {
    font-size: 1.5em;
    padding: 15px;
    border: none;
    /* con trỏ dạng bàn tay */
    cursor: pointer;
    background-color: #f2f2f2;
}

.calculatorTab button:active {
    background-color: #e0e0e0;
}