.main .folder {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.main .folder ul {
    margin-left: 20px;
    padding: 0;
    display: none;
    list-style-type: none;
}

.main .folder img {
    width: 20px;
    margin-right: 10px;
}

/* Người dùng có thể kích chuột để mở/đóng nút*/
.main .folder button.selected + img + label + ul {
    display: block;
}
