.main body {
    background-color: #129062;
    padding: 45px 0;
    color: white;
}


.main .avatar {
    border-radius: 100px;
}


.main h3 {
    font-family: "Lobster", cursive;
    margin: 10px 0 8px 0;
}


/* style menu */

.main #menu {
    width: 900px;
    border: 1px solid #000;
    height: 100px;
    background-color: #181818;
    font-family: Helvetica, sans-serif;
    font-size: 13px;
    border-radius: 10px;
}


.main #menu ul {
    margin-top: 42px;
}

.main #menu ul li {
    list-style-type: none;
    display: inline;
    margin-left: 50px;
}

.main #menu ul li a:link {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.main #menu ul li a:visited {
    color: #FFF;
}

.main #menu ul li a:hover {
    color: #FFF;
    background-color: #81B101;

}



/* chia màn hình làm 2 */

.main .left-column {
    width: 20%;
    float: left;

}

.main .right-column {
    width: 80%;
    float: right;
}

.main #txt {
    background-color: #3f3fa1;
    width: inherit;
    height: 500px;
    color: white;
    text-align: center;
}