

.main table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    background-color: rgb(255, 255, 255);
}


/* phần tiêu đề của bảng */
.main thead,

.main tfoot {
    background-color: #cce;
    font-size: 18px;
}
/* style dòng và cột của bảng */
.main td,
.main th {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

/* style dòng lẻ của bảng */
.main .darker {
    background-color: rgb(230 232 232);
}

/* phần thông tin sinh viên */
.main caption {
    padding-bottom: 5px;
}

.main .left-column {
    width: 50%;
    height: 30%;
    float: left;
}

.main .right-column {
    width: 50%;
    height: 30%;
    float: right;
}

.main h5{
    text-align: left;
}

.main .right-column h5{
    text-align: right;
}