/* style template */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;

}

header {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;

}

.banner h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    
    margin: 20px auto;
    padding: 20px;
}

.main.selected {
    display: block;
}
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

/* Tùy chỉnh menu dropdown */
.dropdown {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #555;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

}

.dropdown:hover .dropdown-content {
    display: block;
}
