.main #menu {
  width: 400px;
  height: 80px;

  font-family: Helvetica, sans-serif;
  font-size: 10px;
}


.main #menu ul li {
  list-style-type: none;
  display: inline;

}


.main #menu ul button:hover {
  color: #FFF;
  background-color: #81B101;

}


.main .button-selected {
  background-color: #81B101;
}

/* nột dung tab */
.main #txt {
  background-color: #3f3fa1;
  width: inherit;
  height: 500px;
  color: white;
  text-align: center;
}