.main th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.main th {
    background-color: #f2f2f2;
}

.main th.title{
    /* hiển thị hình bàn tay khi di chuột đến phần có thể tiêu đề có thể sắp xếp */
    cursor: pointer;
}

.main th.sorted-asc::after {
    content: '\2191'; /* Mũi tên lên */
}

.main th.sorted-desc::after {
    content: '\2193'; /* Mũi tên xuống */
}
