.tableTab .table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

.tableTab th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.tableTab th {
    background-color: #f2f2f2;
}

.tableTab th.title{
    cursor: pointer;
}

.tableTab input {
    padding: 5px;
    margin-bottom: 10px;
}

.tableTab .highlight {
    background-color: yellow;
}


.tableTab th.sorted-asc::after {
    content: '\2191'; /* Mũi tên lên */
}

.tableTab th.sorted-desc::after {
    content: '\2193'; /* Mũi tên xuống */
}
